/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  p {
      margin: 50px;
  }

  body {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;  
  }
  article {
      margin: 15px;
  }
  
  h1, h2 {
      font-size: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;  
  }  

  img {
      max-width: 100%;
      border-radius: 25px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  section {
      display: flex;
      flex-direction: column;
      justify-content: center;  
  }
  
  figure {
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  figcaption {
    font-size: .8em;    
  }

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(114, 114, 114);
        font-size: 16px;
        margin: 30px 60px 30px 60px;  
        color: bisque; 
    }
    h1, h2 {
        font-size: xx-large;
    }

    section {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;    
    }

    figcaption {
        font-size: 1em;
    }
      
    article {  
        flex-wrap: wrap;
        align-items: center;
        margin: 15px;  
    }

    img {
        width: 100%;        
    }
    figure {
        width: 45%;
    }
}

@media screen and (min-width: 1300px) {
    body {        
        background-color: rgb(196, 243, 196);
        font-size: 2em;     
        color: rgb(27, 27, 26);      
    }

    h1, h2 {
        font-size: 2em;
    }

    figcaption {
        font-size: 1em;
    }
      
    article {  
        margin: 0 50px;
    }
 
    img {
        width: 100%;  
    }

    figure {    
        width: 40%;
        margin: 50px;
    }
    p {
        margin-left: 400px;
        margin-right: 400px;
        font-size: 2em;
    }
}