.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  top: 80px;
  left: 250px;
  z-index: 3;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 110px;
  z-index: 4;
  left: 270px;
}

.bowser {
  position: absolute;
  width: 220px;
  z-index: 2;
  left: 550px;
  top: 210px;
}